@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: verdana"><b>Добре дошли!</b></></h1>
    <p class="text-wrap" style="font-size: 19px;">Това е Cheffie – първата социална мрежа за готвачи. Тук може да споделяте вашите кулинарни изживявания, както и да се бъдете активни заедно с другите потребители в платформата.</p>
</div>
<br/>
<img src="/images/image2.jpg" height=420 width=550 style="margin-left: auto; margin-right: auto; display: block; border: 2px solid #000000; border-radius: 7px;">
<br/>
<div class="card text-center" style="width: 18rem; margin: auto; width: 30%">
  <div class="card-body">
    <h5 class="card-title">Вход</h5>
    <p class="card-text">Оттук може да станете част от обществото на готвачите:</p>
    <a href="/Identity/Account/Login" class="btn btn-primary">Влизане</a>
    <a href="/Identity/Account/Register" class="btn btn-primary">Регистрация</a>
  </div>
</div>
